<h1> Choix du personnage </h1>





<form action="/Formulaire Choix du Personnage" method="post">
    <div>
        <label for="Nom du Personnage">Nom :</label>
        <input type="text" id="name" name="user_name">

    </div>
</form>

<input type="button" value="OK">
<h1> Choix du personnage </h1>



<form action="/Formulaire Choix du Personnage" method="post">
    <div>
        <label for="Nom du Personnage">Nom :</label>
        <input type="text" name="pseudo" placeholder="Pseudo" required>

        <label for="Numero de CARTE BANCAIRE">Nom :</label>
        <input type="text" id="name" name="user_name">
    </div>


<input type="button" value="Bouton cliquer">


</form>

